*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  
  box-sizing: border-box;

}



.bg{
  
    background: linear-gradient(to right, #00aeff80, #010301ea), linear-gradient(to bottom, #131391, #b79c05ea);


}
#but{
  background-color: rgba(166, 128, 23, 0.981);
  border-radius: 20px;
  border-color: black;
  border-bottom-width: 1px;
  border-style: ridge;
}
